<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - FireCheck</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" type="image/png" href="/images/logo.png">
  </head>
  <body>
    <header>
      <div class="container">
        <div class="logo">
          <img src="/images/logo1.png" alt="FIRE CHECK Logo" />
        </div>
        <nav>
          <ul>
            <li><a href="/" class="nav-link">หน้าแรก</a></li>
            <li><a href="/about" class="nav-link">เกี่ยวกับ</a></li>
            <li><a href="/contact" class="nav-link">ติดต่อ</a></li>
          </ul>
          <div class="auth-buttons">
            <a href="/login" class="button">เข้าสู่ระบบ</a>
            <a href="/register" class="button primary">ลงทะเบียน</a>
          </div>
        </nav>
      </div>
    </header>
    <main class="container">
      <section class="about-section">
        <div class="about-content">
          <h1>เกี่ยวกับเรา</h1>
          <p>
            โครงงานวิจัยนี้เป็นการพัฒนาระบบการจัดการการเผาในที่โล่งโดยใช้เทคโนโลยี Internet of Things (IoT) <br>
            เพื่อแก้ไขปัญหาฝุ่น PM2.5 ที่เกิดขึ้นจากการเผาที่ในโล่งของพื้นที่การเกษตรในระดับท้องถิ่น <br>
            โดยจะแสดงระดับสีค่าฝุ่น PM2.5 ที่คาดว่าจะเกิดขึ้นล่วงหน้าในพิกัดตำแหน่งและวันที่ผู้ใช้ระบุ <br>
            และให้คำแนะนำในการเผาว่าสมควรทำการเผาหรือไม่ เพื่อใช้เป็นแนวทางในการตัดสินใจทำการเผา
          </p>
        </div>
      </section>
    </main>
  </body>
</html>
